html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
body{
	background: url(patt.png)}

.header{
	background: rgba(255,255,255,.6);

	height: 100px;
	width: 100%;
}
.container{
	height: 100px;
	width: 1100px;
	margin: 0 auto;
}
.row{
	height: 100px;
	width: 1100px;
	margin: 0 auto;
}
.col-md-3{
	margin: 0px;
	width: 300px;
	height: 100px;
	text-align: center;
	padding-top: 0px;
	float: left;}

.img1{
	padding: 35px;}

.col-md-6{
	width: 500px;
	height: 100px;
	float: left;
}
.menu{
	padding: 0px;
	margin-top: 35px;
}
.main-menu{
	display: inline-block;
}
	
.menu ul{
	display: none;
	position: relative;
	padding: 0px;
}

.menu li{
	display: inline-block;
	list-style-type: none;
}

.submenu li{
	display: block;
	background: white;
}

.main-menu .submenu{
	position: absolute;
}

.menu a{
	text-decoration: none;
	display: block;
	border-left: 2px solid #2c71b8;
	width:120px;
	height: 50px;
	text-align: center;
	line-height:45px;
	color: #2e70ba;
} 
.submenu a{
	background: #2d71b8;
	color: #ffffff;
	width: 240px;
	text-align: left;
	padding: 10px;
}
.menu a:hover{
    text-decoration: none;
	display: block;
	background: #2d71b8;
	color: #ffffff;
	border-bottom: 2px solid #2c71b8;
	width:120px;
	height: 50px;
	text-align: center;
	line-height:45px;
	}
.submenu a:hover{
	    width: 240px;
		background:#ffffff;
		color: #2d71b8;
		text-align: left;
	}
.submenu li{
	width: 240px;
	background: #2d71b8;
	color: #ffffff;	
}	
.main-menu.submenu li:hover{
	text-decoration: none;
	display: block;
	
	}	
.main-menu ul li:hover .submenu {
    display: block;	}

.col-md-2{
	height: 100px;
	width: 155px;
	float: left;
	text-align: center;
	background: url(icon 4.png);}

input{
	border: 2px solid #2c71b8;
	margin-top: 50px;
	background: rgba(255,255,255,.6);
}
.col-md-1{
	background: url(icon 1.png);
	height: 100px;
	width: 50px;
	float: left;
}
.img2{
	margin-top: 50px;
	padding-left: 10px;
	background: #ffffff;
}    

